
<div class="container-fluid">
  <% @bookmarks.each do |bookmark| %>
  <div class="bookmark-window">
    <h3><%=bookmark.url %></h3>
    <p><%=bookmark.description %></p>
    <p><%=bookmark.topic_id %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <% end %>
</div>
