<div class="container-fluid topic-page">
  <div class="topic-title">
    <h3><%= @topic.title %></h3>
  </div>
  <% @topic_bookmarks.each do |bookmark| %>
    <div class="topic-bookmarks">
      <p><%= bookmark.url %></p>
      <p><%= bookmark.description %></p>
    </div>
  <% end %>
  <div class="bookmark-create">
    <%= button_to "New Bookmark", {action: :new, controller: :bookmarks, topic_id: @topic.id}, method: :get %>
  </div>
</div>
