
<div class="jumbotron">
  <p class="text-center">Welcome </p>
  <div class="welcome-title"><h3>Welcome to BookMarks!</h3></div>
  <div class="welcome-description"><p>Create, Share, Read and Discover What Others Are Posting!</p></div>
</div>
<div class="container-fluid">
  <% @bookmarks.each do |bookmark| %>
  <div class="bookmark-window">
    <h3><%= bookmark.url %></h3>
    <p><%= bookmark.description %></p>
    <div class="index-like-btn">
      <button class="btn btn-link">Like!</button>
      <div class="bookmark-likes"><%=bookmark.likes.count%></div>
    </div>
  </div>
  <% end %>
