
<div class="jumbotron">
  <p class="text-center">Welcome </p>
</div>
<div class="cointainer-fluid ">
  <div class="row text-center">
    <div class="col-md index-marks">
      First Column
    </div>
    <div class="col-md index-marks">
      Second Column
    </div>
    <div class="col-md index-marks">
      Third Column
    </div>
  </div>
</div>
<div class="cointainer-fluid">
  <div class="row text-center">
    <div class="col-md index-marks">
      First Column
    </div>
    <div class="col-md index-marks">
      Second Column
    </div>
    <div class="col-md index-marks">
      Third Column
    </div>
  </div>
</div>
