/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "welcome.scss";
 @import "bookmarks.scss";
 @import "topics.scss";

 body {
   background-color: #c7e8f9;
 }

.bg-company-red {
  background-color: #5eb1db;
}
.dropdown {
  margin-right: 20px;
}
.dropdown-button {
  background-color: #92d7fc;
}
.dropdown-button:hover {
  background-color: #a2cee5;
}
.dropdown-button:focus {
  background-color: #a2cee5 !important;
}

.nav-item:hover {
  color: white !important;
}
.cointainer-fluid {
  background-color: #c7e8f9;
}
