// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//bookmarks#index

.bookmarks-index-container {
  width: 100%;
  min-height: 720px;
  background-color: inherit;
  position: relative;
}
.my-bookmark-window {
  width: 22%;
  vertical-align: top;
  position: relative;
  min-width: 175px;
  min-height: 175px;
  background-color: #BEE9E8;
  border: 1px solid grey;
  margin: 10px 1%;
  display: inline-block;
  overflow: scroll;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  a {
    color: #5054ce;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 grey, 0 12px 30px 0 grey;
    background-color: #dbeff9;
  }
  h3 {
    margin: 10px 5px 0px 5px;
    text-align: center;
  }
  p {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.bookmark-control-btns {
  position: relative;
  border-top: 2px solid white;
  width: 100%;
  min-height: 40px;
  background-color: white;
  //bottom: 0px;
  a {
    border: 1px solid #013272;
    border-radius: 5px;
    text-decoration: none;
    color: #013272;
    margin-top: px;
    padding: 5px 10px 5px 10px;
    &:hover {
      color: #1263ce;
    }
  }
}
.more-btn {
  position: absolute;
  //float: left;
  //padding-left: 5px;
  left: 5px;
  bottom: 10px;
}
.delete-bookmark {
  position: absolute;
  //float: right;
  //padding-right: 5px;
  right: 5px;
  bottom: 10px;
}
