// Place all the styles related to the topic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//topics_controller#index
.topic-container {
  min-height: 720px;
  margin-top: 50px;
  position: relative;
}
.topic-window {
  width: 22%;
  vertical-align: top;
  position: relative;
  min-width: 175px;
  min-height: 175px;
  max-height: 250px;
  background-color:  #BEE9E8;
  border: 1px solid grey;
  display: inline-block;
  margin: 10px 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 8px 16px 0 grey, 0 12px 30px 0 grey;
    background-color: #dbeff9;
  }
}
.topic-control-section {
  border-top: 1px solid white;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: white;
}
.topic-more-btn {
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px 5px 5px 10px;
  a {
    text-decoration: none;
  }
}
.delete-btn {
  position: relative;
  display: inline-block;
  float: right;
  margin: 10px 5px 5px 10px;
}

///topics_controller#show
.topic-page-container {
  min-height: 720px;
  position: relative;
}
.topic-title {
  margin-top: 20px;
  font-family: arial;
  display: inline-block;
  border-left: 0.25em solid white;
  border-right: 0.25em solid white;
  border-radius: 10px;
  padding: 0em 4em 0em 4em;
  float: right;
  text-align: center;
  span {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
}
.bookmark-url {
  font-size: 30px;
  text-align: center;
  text-overflow: ellipsis;
}
.bookmark-description {
  font-size: 20px;
  text-align: center;
  text-overflow: ellipsis;
}
.topic-control-btns {
  margin-top: 20px;
  display: inline-block;
  float: left;
  a {
    background-color: #f1f780;
    border-radius: 25px;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    margin: 0px 20px 20px 0px;
    text-decoration: none;
    &:hover {
      background-color: #ecef13;
    }
  }
}
.bookmarks-container {
  clear: both;
  display: block;
}
