// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-marks {
  height: 200px;
  border: 1px solid grey;
}
.jumbotron {
  background-color: #dbeff9;
  height: 400px;
  max-width: 100%;
}
.welcome-title {
  background-color: #c7e8f9;
  display: inline-block;
  h3 {
    padding: 10px;
    font-size: 70px;
    font-family: courier;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .25em;
    animation: type 4s steps(100, end);
  }
}

.welcome-description {
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .25em;
  animation: type 4s steps(100, end);
  animation-delay: 2s;
}

.index-like-btn {
  width: 100%;
  position: absolute;
  border-top: 1px solid white;
  left: 0px;
  bottom: 0px;
  background-color: white;
  display: block;
  margin-left: 0px;
  button {
    text-decoration: none !important;
  }
}

.bookmark-window {
  h3 {
    text-align: center;
  }
  p {
    margin-left: 10px;
  }
}

@keyframes type {
  from {width: 0 }
  to {width: 100%}
}
